body{
    background-color:grey;
    margin:50px;
    height:100%;
}
h1{
    color:white;

}
th{
    background-color:#ffff99 ;
    height: 40px;
}
td{
    height:1em;
    background:rgba(131,139,131,0.5);
}
.edit_form{
    float:left;
    padding-top:1em;
}
.delete_form{
    padding-top:1em;
}
.edit{
    width:50px;
    background-color:rgba(0,255,0,0.5);
    height: 50px;
    border-radius:5px;
    border:0px;
}
.edit:hover{
    background-color:rgba(0,255,0,0.7)
}
.delete{
    width:50px;
    height:50px;
    background-color:rgba(255,0,0,0.5);
    border-radius:5px;
    border:0px;
}
.delete:hover{
    background-color:rgba(255,0,0,0.7);
}
#cancel{
    width:200px;
    height:100px;
    background-color:rgba(255,0,0,0.5);
    border-radius:5px;
    border:none;
    margin-top:50px;
    margin-left:50px;
}
#cancel:hover{
    background-color:rgba(255,0,0,0.7);
}
.update{
    width:100px;
    height:100px;
    background-color:rgba(0,255,0,0.5);
    border-radius:5px;
    border:0px;
}
.add_customer{
	width:100px;
    height:100px;
    background-color:rgba(0,255,0,0.5);
    border-radius:5px;
    border:0px;
}
.add_customer:hover{
	    background-color:rgba(0,255,0,0.6);
}
.update:hover{
        background-color:rgba(0,255,0,0.7);
}
.inner_form{
	padding:3em;
}
.add_form{
	background-color:rgba(123,123,123,0.7);
	border-radius:30px;
	width:300px;

}
.customers input{
	height:2em;
	width:200px;
    background-color:rgba(1,1,1,0);
    border:none;
    text-align: center;
}

input:focus{
    background-color: green
}
.edit_delete{
	width:50px;
	background-color: rgba(1,1,1,0);
    clear:both;
}
.actual_button{
	padding-top: 1em;
}

.hover_table{
    border-collapse:collapse;
    float:left; 
    width:1000px;
}

.hover_table tr:hover {
    background-color: #ffff99;
}
.hover_table1{
    border-collapse:collapse;
    width:1000px;
}

.hover_table1 tr:hover {
    background-color: #ffff99;
}

.all_customers{
    padding-bottom: 1em;
}
.all_customers input{
    background-color:rgba(225,225,225,0.5);
    height:4em;
    border-radius:5px;
    border:none;
}
.all_customers input:hover{
    background-color:rgba(225,225,225,0.7);
}
.search{
    float:left;
    margin-right:50px;
    margin-bottom:50px;
}
.search input{
    background-color:rgba(225,225,225,0.5);
    border:none;
    height:50px;
}
.search select{
    background-color:rgba(225,225,225,0.5);
    border:none;
    height:50px;
}
.add_dvd{
    background-color:rgba(0,255,0,0.5);
    width:150px;
    height:50px;
    border-radius:5px;
    border:none;
}
.add_dvd:hover{
    background-color:rgba(0,225,0,0.7);
}
.new_order{
    background-color:rgba(0,255,0,0.5);
    width:200px;
    height:50px;
    border-radius:5px;
    border:none;
    margin-left:50px;
}
.new_order:hover{
    background-color:rgba(0,225,0,0.7);
}
.back{
    width:200px;
    background-color:rgba(225,225,225,0.3);
    height: 50px;
    border-radius:5px;
    border:0px;
    float:left;
}
.back:hover{
    background-color: rgba(225,225,225,0.7)
}
.go_back{
    margin-top:25px;
    background-color:rgba(225,225,225,0.5);
    height: 50px;
    border-radius:5px;
    border:0px;
    width:300px;
}
.go_back:hover{
    background-color: rgba(225,0,225,0.7)
}
.top_nav{
    width:1000px;
    margin-bottom:100px;
}
#new_order{
    visibility: visible;
}
